<div ng-repeat='data in forProdHtml'class="product-grid__item   grid__item one-half large--one-third">
<!--Product Image-->
<!--Product Image click collapse the image--><a ng-show="showPic" ng-click="showPic=!showPic">
<img src="{{data.image}}">
</a>

<a class="product-grid__product" >
    <img class="product-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
</a>
<a ng-click="showPic=true" ng-hide="showPic" class="product-grid__product">
    show image
</a>

<!--Product Meta-->
<div class="product-grid__meta">
    <!--Title click Should redirect to the product-details section. remember to pass along the product id so you can make an api call
to get the specific product details-->
    <h3 class="product-grid__name"><a ui-sref='product({id: data.id})'> {{data.title}}</a></h3>

    <!--Product Description-->
    <h4 class="product-grid__sub">{{data.desc}}</h4>

    <!--Product Price-->
    <div class="product-grid__price">{{data.price | currency}}</div>
</div>
</div>
